<div class="d-flex">
  <app-user-selection (userSelected)="onUserSelected($event)" [unreadMessages]="unreadMessages">></app-user-selection>

  <div class="container mt-4 p-3 border rounded bg-light flex-grow-1">
    @if (selectedUser) {
    <div class="alert alert-success mb-3">
      Estás chateando con: <strong>{{ selectedUser.firstName }} {{ selectedUser.lastName}}</strong>
    </div>
    }
    <h2 class="text-center mb-3">Chat en Tiempo Real</h2>
    <div class="border rounded p-3 mb-3 bg-white"
      style="min-height: 300px; max-height: 600px; overflow-x: auto; overflow-y: auto;">
      @for (msg of messages; track msg) {
      <div class="alert py-1 mb-2"
        [ngClass]="{'message-sent': msg.sender === userId, 'message-received': msg.sender !== userId}">
        <small class="d-block">
          @if (msg.sender === userId) {
            <strong>Tú</strong>
          } @else {
            <strong>{{ selectedUser?.firstName }}</strong>
          }
        </small>
        <div>{{ msg.content }}</div>
        <small class="text-muted">{{ msg.createdAt | date:'short' }}</small>
      </div>
      }
    </div>

    <div class="input-group">
      <input [(ngModel)]="message" type="text" class="form-control" placeholder="Escribe un mensaje" />
      <button (click)="sendMessage()" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</div>