<div class="dialog-container">
  <div class="dialog-title">
    <h2 mat-dialog-title>Confirmar Inscripción</h2>
  </div>

  <mat-dialog-content class="common-dialog">
    <p><b>Clase:</b> {{ data.className }}</p>
    <p><b>Entrenador:</b> {{ data.trainer }}</p>
    <p><b>Día:</b> {{ data.day }}</p>
    <p><b>Hora de inicio:</b> {{ data.startTime }}</p>
  </mat-dialog-content>
  <mat-dialog-actions class="common-dialog">
    <button
      mat-button
      type="submit"
      class="btn btn-success"
      (click)="onConfirm()"
    >
      Confirmar
    </button>
    <button mat-button class="btn btn-secondary" (click)="onCancel()">
      Cancelar
    </button>
  </mat-dialog-actions>
</div>
