<div class="list-container memberships-list-container">
  <div class="title-div">
    <h2 class="crud-page-title">Membresías vigentes</h2>
    <div class="my-4 text-end">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="addMembership()"
      >
        Nueva membresía
      </button>
    </div>
  </div>

  <app-membership-filter
    [memberships]="this.memberships"
    [outstandingMemberships]="this.outstandingMemberships"
    (filterMemberships)="onFilteredMemberships($event)"
  ></app-membership-filter>

  @if (showPayments) {
  <app-payment-list
    [membership]="selectedMembership!"
    (componentVisible)="hidePaymentList($event)"
  ></app-payment-list>
  } @if (memberships !== null && memberships.length > 0) {
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Fecha desde</th>
          <th>Fecha hasta</th>
          <th>Tipo de membresía</th>
          <th>Cliente</th>
          <th>Deuda</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        @for (m of filteredMemberships; track m) {
        <tr>
          <td>{{ m.dateFrom | date : 'dd/MM/yyyy' }}</td>
          <td>{{ m.dateTo | date : 'dd/MM/yyyy' }}</td>
          <td>{{ m.type.name }}</td>
          <td>{{ m.client.firstName + ' ' + m.client.lastName }}</td>
          <td>${{ m.debt?.toLocaleString('es-AR') }}</td>

          <td class="td-actions">
            <button
              [disabled]="m.debt === 0"
              (click)="addPayment(m)"
              aria-label="Example icon button with a new payment icon"
            >
              <mat-icon>payments</mat-icon>
            </button>

            <button
              (click)="listPayments(m)"
              aria-label="Example icon button with a payment list icon"
            >
              <mat-icon>list</mat-icon>
            </button>

            <button
              (click)="deleteMembership(m.id)"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>

            <button
              (click)="updateMembership(m)"
              aria-label="Example icon button with an edit icon"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else if (memberships !== null && memberships.length === 0){
  <div class="alert alert-warning fs-6" role="alert">
    No hay membresías vigentes.
  </div>
  } @else {
  <div class="alert alert-danger fs-6" role="alert">
    No se pudieron cargar las membresías.
  </div>
  }
</div>
