<div class = "class-types-list-container">
  <button (click)="getClassTypes()">Obtain All Type Clases!</button>
  @if (this.classtype.length > 0) {
    <ul class="class-types-list">
      @for (i of this.classtype; track i.name) {
      <li  class="classtype-item">
        <p class="classtype-detail">classtypename: {{ i.name }}</p>
        <p class="classtype-detail">description : {{ i.description }}</p>
        <input type="checkbox" [checked]="selectedClassType === i" (change)="selectClassType(i)">
      </li>}
      </ul>
  } @else {
  <p>No Class Types available.</p>
  }
<div class = "selected-class-type-info">
  @if (this.selectedClassType) {
    <h3>Selected Class Type Information:</h3>
    <p><strong>Name:</strong> {{ selectedClassType.name }}</p>
    <p><strong>Description:</strong> {{ selectedClassType.description }}</p>
  }

  <div>
    @if (selectedClassType && selectedClassType.classes && selectedClassType.classes.length > 0 ) {
      <h3>Classes:</h3>
      <ul>
        @for (i of selectedClassType.classes; track i.id) {
        <li>
          <p><strong>Day:</strong> {{ i.day }}</p>
          <p><strong>Start Time:</strong> {{ i.startTime }}</p>
          <p><strong>End Time:</strong> {{ i.endTime }}</p>
          <p><strong>Capacity:</strong> {{ i.maxCapacity }}</p>
          <p><strong>Location:</strong> {{ i.location }}</p>
          <!-- <p><strong>Trainer:</strong> {{ getTrainerName(i.trainer)}} </p> -->
          <p><strong>Trainer:</strong> {{i.trainer}} </p>
        </li>
        }
      </ul>
    } @else {
      <p>No classes available.</p>

    }

