.exercises-list-container {
    margin: 2rem auto;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2rem 0;
}

::ng-deep .snackbar_error,
::ng-deep .snackbar_error * {
    background-color: #dc3545 !important;
}

::ng-deep .snackbar_success *,
::ng-deep .snackbar_error * {
    font-size: 1.1rem !important;
}