<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="togglerFirstExample.toggle()"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarTogglerDemo01"
      mdbCollapse
      #togglerFirstExample="mdbCollapse"
    >
      <a class="navbar-brand" href="#">App Gimnasio</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            [ngClass]="{ active: isActive('/') }"
            aria-current="page"
            routerLink="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isActive('/clients') }"
            routerLink="clients"
            >Clientes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isActive('/trainers') }"
            routerLink="trainers"
            >Entrenadores</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isActive('/membershiptypes') }"
            routerLink="membershiptypes"
            >Tipos de Membresías</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isActive('/currentmemberships') }"
            routerLink="currentmemberships"
            >Membresías</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isActive('/registration') }"
            routerLink="registration"
            >Registrarse a una clase</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isActive('/registration') }"
            routerLink="registration"
            >Registrarse a una clase</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isActive('/class-types') }"
            routerLink="class-types"
            >Tipos de clases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Rutinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-routine">Crear Rutina</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/exercise">Ejercicios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
