<div class="list-container users-list-container">
  <div class="title-div">
    <h2 class="crud-page-title">Clientes</h2>

    <div class="my-4 text-end">
      <button type="button" class="btn btn-primary btn-lg" (click)="addUser()">
        Nuevo cliente
      </button>
    </div>
  </div>

  @if (filteredClients !== null && clientsPage !== null && clientsPage.length >
  0) {
  <div class="filter-container">
    <label for="name-filter">Filtrar por nombre y apellido:</label>
    <input
      type="text"
      name="name-filter"
      id="name-filter"
      [(ngModel)]="nameFilter"
      (ngModelChange)="applyFilter()"
    />

    <button class="btn" (click)="clearFilters()">Limpiar filtros</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Correo electrónico</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      @for (c of clientsPage; track c) {
      <tr>
        <td>{{ c.lastName }}</td>
        <td>{{ c.firstName }}</td>
        <td>{{ c.dni }}</td>
        <td>
          {{ c.email }}
        </td>
        <td class="td-actions">
          <button
            (click)="deleteUser(c.id)"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            (click)="updateUser(c)"
            aria-label="Example icon button with an edit icon"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <mat-paginator
    [length]="filteredClients.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[20, 50, 100]"
    aria-label="Seleccionar página"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>

  } @else if (filteredClients !== null && filteredClients.length == 0){
  <div class="alert alert-warning fs-6" role="alert">
    No hay clientes cargados. Crea uno para comenzar.
  </div>
  } @else {
  <div class="alert alert-danger fs-6" role="alert">
    No se pudieron cargar los clientes.
  </div>
  }
</div>
