<div class="list-container class-list-container">
  <div class="title-div">
    <h2 class="crud-page-title">Clases</h2>

    <div class="my-4 text-end">
      <button type="button" class="btn btn-primary btn-lg" (click)="addClass()">
        Nueva clase
      </button>
    </div>
  </div>

  <div class="filter-container">
    <label for="dayFilter">Filtrar por día:</label>
    <select
      class="day-filter"
      id="dayFilter"
      [(ngModel)]="dayFilter"
      (ngModelChange)="applyFilter()"
    >
      <option value="">Todos</option>
      <option value="Lunes">Lunes</option>
      <option value="Martes">Martes</option>
      <option value="Miércoles">Miércoles</option>
      <option value="Jueves">Jueves</option>
      <option value="Viernes">Viernes</option>
      <option value="Sábado">Sábado</option>
      <option value="Domingo">Domingo</option>
    </select>

    <label for="classTypeFilter">Filtrar por tipo de clase:</label>
    <select
      id="classTypeFilter"
      [(ngModel)]="classTypeFilter"
      (ngModelChange)="applyFilter()"
    >
      <option value="">Todos</option>
      <option *ngFor="let classType of classTypes" [value]="classType.name">
        {{ classType.name }}
      </option>
    </select>

    <label for="trainerFilter">Filtrar por entrenador:</label>
    <select
      id="classTypeFilter"
      [(ngModel)]="trainerFilter"
      (ngModelChange)="applyFilter()"
    >
      <option value="">Todos</option>
      <option *ngFor="let trainer of trainers" [value]="trainer.firstName">
        {{ trainer.firstName + " " + trainer.lastName }}
      </option>
    </select>
    <button class="btn" (click)="clearFilters()">Limpiar filtros</button>
  </div>

  @if (filteredClasses !== null && filteredClasses.length > 0) {
  <table>
    <thead>
      <tr>
        <th>Tipo de clase</th>
        <th>Día</th>
        <th>Hora inicio</th>
        <th>Hora fin</th>
        <th>
          Capacidad<br />
          personas
        </th>
        <th>Ubicación</th>
        <th>Entrenador</th>
        <th>Activa</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      @for (c of filteredClasses; track c) {
      <tr>
        <td>{{ c.classType.name }}</td>
        <td>{{ getDayName(c.day) }}</td>
        <td>{{ c.startTime }}</td>
        <td>{{ c.endTime }}</td>
        <td>{{ c.maxCapacity }}</td>
        <td>{{ c.location }}</td>
        <td>{{ c.trainer.firstName + " " + c.trainer.lastName }}</td>
        <td>{{ c.active ? "Sí" : "No" }}</td>

        <td class="td-actions">
          <button
            (click)="deleteClass(c.id)"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            (click)="updateClass(c)"
            aria-label="Example icon button with an edit icon"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else if (filteredClasses !== null && filteredClasses.length == 0) {
  <div class="alert alert-warning fs-6" role="alert">
    No hay clases cargadas de esta categoría. Crea una para comenzar.
  </div>
  } @else {
  <div class="alert alert-danger fs-6" role="alert">
    No se pudieron cargar las clases.
  </div>
  }
</div>
