<div class="table-container">
  @if (clientForRoutineList.length > 0) {
  <div class="mx-auto w-75 my-5">
    <p class="display-6 bold">Clickea un cliente para asignar la rutina:</p>
  </div>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Nombre</th>
        <th>Dni</th>
        <th>Fecha de la última membresía</th>
        <th>Tipo de Membresía</th>
      </tr>
    </thead>
    <tbody>
      @for (c of clientForRoutineList; track c) {
      <tr
        (click)="toggleSelected(c)"
        [ngClass]="c.selected ? 'selected' : null"
      >
        <td>
          <div class="d-flex align-items-center">
            <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{ c.firstName + " " + c.lastName }}</p>
              <p class="text-muted mb-0">{{ c.email }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ c.dni || "there is no dni yet" }}</p>
        </td>
        <td>{{ c.currentMembership.dateFrom }}</td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">{{
            c.currentMembership.type.name
          }}</span>
        </td>
      </tr>

      }
    </tbody>
  </table>
  } @else {
  <div class="alert alert-danger" role="alert">
    No hay clientes con membresía activa para asignar una rutina
  </div>
  }
</div>
