.page-container {
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
}

.class-type-list-container {
  padding: 20px;
  background-color: #3a3a3a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: white;
}

.class-type-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.class-type-table th,
.class-type-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #aaa;
}

.class-type-table th {
  background-color: #4a4a4a;
  color: #F7CE68;
  font-weight: bold;
}

.class-type-table td {
  background-color: #6c757d;
  color: #F7CE68;
}

.class-type-table tr.selected {
  background-color: #5e6472;
}

.class-type-table td button {
  padding: 8px 12px;
  background-color: #FBAB7E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.class-type-table td button:hover {
  background-color: #F7CE68;
}

.selected-class-type-info {
  margin-top: 30px;
  padding: 20px;
  background-color: #3a3a3a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
}

.class-type-details h2 {
  color: #F7CE68;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.class-type-details p {
  font-size: 1rem;
  color: black;
}

.class-type-details strong {
  color: #000000;
}

.classes-container h3 {
  font-size: 1.2rem;
  color: #F7CE68;
  margin-bottom: 10px;
}

.classes-table th,
.classes-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #aaa;
}

.classes-table th {
  background-color: #4a4a4a;
  color: #F7CE68;
  font-weight: bold;
}

.classes-table td {
  background-color: #6c757d;
  color: #F7CE68;
}

.classes-table td button {
  padding: 8px 12px;
  background-color: #FBAB7E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.classes-table td button:hover {
  background-color: #F7CE68;

}
