<div class="mx-auto w-85 py-3">
  <h2 class="page-title">Inscribirse a una Clase</h2>

  @if (this.clientRegistrations.length > 0){
  <div class="enrolled-classes">
    <h3>Clases a las que estás inscrito:</h3>
    <table class="class-type-table">
      <thead>
        <tr>
          <th>Clase</th>
          <th>Entrenador</th>
          <th>Hora</th>
          <th>Ubicación</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        @for (registration of clientRegistrations; track registration) {
        <tr>
          <td>{{ registration.class.classType.name }}</td>
          <td>
            {{ registration.class.trainer.firstName }}
            {{ registration.class.trainer.lastName }}
          </td>
          <td>
            {{ registration.class.startTime }} -
            {{ registration.class.endTime }}
          </td>
          <td>{{ registration.class.location }}</td>
          <td>
            <button
              class="btn btn-danger"
              (click)="cancelRegistration(registration)"
            >
              Eliminar Inscripción
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
  <div class="no-enrollments-message">
    <p>No estás inscrito en ninguna clase.</p>
  </div>
  }

  <div class="class-type-list-container">
    @if (this.hasActiveMembership === false){
    <p class="alert">
      No tienes una membresía. Adquiere una en nuestro sitio o con uno de
      nuestros entrenadores.
    </p>

    } @else if (this.availableClasses.length > 0) {
    <mat-accordion>
      @for (classType of availableClasses; track classType.name) {
      <!-- Expansion panel para cada ClassType -->
      <mat-expansion-panel
        class="expansion-panel"
        [expanded]="selectedClassType === classType"
        (opened)="selectClassType(classType)"
      >
        <mat-expansion-panel-header class="expansion-header">
          <mat-panel-title>
            {{ classType.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ classType.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Detalles del ClassType -->
        <div class="class-type-details">
          <p><strong>Descripción:</strong> {{ classType.description }}</p>
        </div>

        <!-- Segundo Expansion Panel para las clases dentro del ClassType -->
        @if (classType.classes && classType.classes.length > 0) {
        <mat-accordion>
          @for (i of classType.classes; track i.id) { @if (i.active === true) {
          <mat-expansion-panel
            class="class-panel"
            [expanded]="selectedClass === i"
          >
            <mat-expansion-panel-header class="class-header">
              <mat-panel-title>
                {{ getDayNameFromNumber(i.day) }} - {{ i.trainer.firstName }}
                {{ i.trainer.lastName }}
              </mat-panel-title>
              <mat-panel-description>
                {{ i.startTime }} - {{ i.endTime }} | {{ i.location }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="class-details">
              <p><strong>Cupos:</strong> {{ i.maxCapacity }}</p>
              <p><strong>Ubicación:</strong> {{ i.location }}</p>
              <p>
                <strong>Entrenador:</strong> {{ i.trainer.firstName }}
                {{ i.trainer.lastName }}
              </p>
              <button
                type="button"
                class="btn btn-primary btn-success"
                [class.selected]="selectedClass === i"
                (click)="selectClass(i)"
              >
                Inscribirse a esta clase
              </button>
            </div>
          </mat-expansion-panel>
          } }
        </mat-accordion>
        }
      </mat-expansion-panel>
      }
    </mat-accordion>
    } @else {
    <p class="alert">No hay clases disponibles.</p>
    }
  </div>
</div>
