.table-container {
    width: 90%;
    margin: 2rem auto;
}

tbody tr.selected {
    transform: scale(1.1);
    filter: grayscale(0) !important;
    opacity: 1 !important;
    background-color: rgba(76, 100, 166, 0.187);
}

.table tbody tr {
    filter: grayscale(1);
    opacity: .7;
    cursor: pointer;
}

thead tr th {
    background-color: rgb(176, 209, 250);
}

table {
    border: 1px solid rgb(209, 209, 209);
}