.exercise-card {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  background-color: #5a5a5a;
  color: #f7ce68;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.exercise-card strong {
  color: #f7ce68;
}
