<div class="mx-auto w-85 py-3">
  <h2 class="page-title">Mi Rutina</h2>
  <div class="daily-routine-container">
    @if (errorCode === 404){
    <p class="alert">
      No tienes una rutina. Comunícate con uno de nuestros entrenadores.
    </p>

    } @else if (errorCode !== -1) {
    <p class="alert">Se produjo un error. Por favor, intente nuevamente.</p>

    } @else {

    <div class="routine-info">
      <table class="routine-table">
        <tr>
          <td><strong>Fecha Desde:</strong> {{ startDate }}</td>
          <td><strong>Fecha Hasta:</strong> {{ endDate }}</td>
          <td><strong>Semana Actual:</strong> {{ currentWeek }}</td>
          <td>
            <strong>Hoy es:</strong> {{ currentDayName }}
            {{ currentDayNumber }} de {{ currentMonthName }} -
            {{ currentDate.getFullYear() }}
          </td>
        </tr>
      </table>
    </div>

    <mat-accordion>
      @for (week of totalWeeks; track week) { @if (hasExercisesForWeek(week)) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Semana {{ week }}</mat-panel-title>
          <mat-panel-description
            >Presione aquí para ver los días de
            entrenamiento</mat-panel-description
          >
        </mat-expansion-panel-header>

        @for (day of [1, 2, 3, 4, 5, 6]; track day) { @if
        (hasExercisesForDay(week, day)) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Día {{ day }}</mat-panel-title>
            <mat-panel-description>Ver ejercicios</mat-panel-description>
          </mat-expansion-panel-header>

          @for (exerciseRoutine of getExercisesForWeekAndDay(week, day); track
          exerciseRoutine.exercise?.id) {
          <div class="exercise-card">
            <p>
              <strong>Ejercicio:</strong>
              {{ exerciseRoutine.exercise.name }}
            </p>
            <p><strong>Series:</strong> {{ exerciseRoutine.series }}</p>
            <p>
              <strong>Repeticiones:</strong>
              {{ exerciseRoutine.repetitions }}
            </p>
            <p>
              <strong>Estado:</strong>
              {{ getExerciseStatus(exerciseRoutine) }}
            </p>
          </div>
          }
        </mat-expansion-panel>
        } }
      </mat-expansion-panel>
      } }
    </mat-accordion>

    }
  </div>
</div>
