.filter-container {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.filter-container > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 766px) {
  .filter-container > div {
    align-items: start;
  }

  .filter-container input {
    width: 100%;
  }
}
