<div class="filter-container">
  <div class="flex-column flex-md-row">
    <label for="name-filter">Filtrar por nombre y apellido:</label>
    <input
      [(ngModel)]="searchValue"
      (ngModelChange)="applyFilters()"
      type="text"
      name="name-filter"
      id="name-filter"
    />
    <div class="m-1">
    <p class="user-select-none my-3">
      <mat-slide-toggle
        [(ngModel)]="showOnlyPayPending"
        (ngModelChange)="applyFilters()"
        >Visualizar solo pendientes de pago</mat-slide-toggle
      >
    </p>
    </div>
    <button class="btn" (click)="clearFilters()">Limpiar filtros</button>
  </div>
  <div>
  </div>
</div>
