<div class="fullscreen-overlay">
  <div class="popup-content">
    <div class="list-container payment-list-container">
      <div class="title-div">
        <h2 class="crud-page-title">Pagos de la Membresía</h2>

        @if (membership.debt !== 0) {
        <div class="my-4 text-end">
          <button
            type="button"
            class="btn btn-primary btn-lg"
            (click)="addPayment(membership)"
          >
            Nuevo pago
          </button>
        </div>
        }
      </div>

      <table>
        <thead>
          <tr>
            <th>Fecha y hora</th>
            <th>Método de pago</th>
            <th>Monto</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          @for (p of payments; track p) {
          <tr>
            <td>{{ p.dateTime | date : 'dd/MM/yyyy hh:mm' }}</td>
            <td>{{ p.paymentMethod }}</td>
            <td>{{ p.amount }}</td>

            <td class="td-actions">
              <button
                [disabled]="isPaymentEditable(p)"
                (click)="deletePayment(p.id)"
                aria-label="Example icon button with a delete icon"
              >
                <mat-icon>delete</mat-icon>
              </button>

              <button
                [disabled]="isPaymentEditable(p)"
                (click)="updatePayment(p)"
                aria-label="Example icon button with an edit icon"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>

      <button (click)="closeComponent()">Volver</button>
    </div>
  </div>
</div>
