<div class="fullscreen-overlay">
  <div class="popup-content">
    <div class="list-container payment-list-container">
      <div class="title-div">
        <h2 class="crud-page-title">Pagos de la Membresía</h2>

        @if (membership.debt !== 0) {
        <div class="add-payment-btn">
          <button type="button" class="btn btn-primary btn-lg" (click)="addPayment(membership)">
            Nuevo pago
          </button>
        </div>
        }
      </div>

      <div class="table-container">
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th>Fecha y hora</th>
                <th>Método</th>
                <th>Monto</th>
                <th>Acciones</th>
              </tr>
            </thead>

            <tbody>
              @for (p of payments; track p) {
              <tr>
                <td data-label="Fecha y hora">{{ p.dateTime | date : 'dd/MM/yyyy hh:mm' }}</td>
                <td data-label="Método">{{ p.paymentMethod }}</td>
                <td data-label="Monto">{{ p.amount.toLocaleString("es-ES") }}</td>

                <td class="td-actions" data-label="Acciones">
                  <button [disabled]="isPaymentEditable(p)" (click)="deletePayment(p.id)" aria-label="Eliminar pago"
                    class="action-btn">
                    <mat-icon>delete</mat-icon>
                  </button>

                  <button [disabled]="isPaymentEditable(p)" (click)="updatePayment(p)" aria-label="Editar pago"
                    class="action-btn">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>

      <button class ="btn mt-3" (click)="closeComponent()">Volver</button>
    </div>
  </div>
</div>