.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.popup-content {
  width: 100%;
  max-width: 420px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  margin: 20px 0;
}


.crud-page-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.add-payment-btn {
  margin-bottom: 15px;
  width: 100%;
}

.add-payment-btn .btn {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}


.td-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.action-btn {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.action-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


@media (min-width: 768px) {
  .popup-content {
    width: 80%;
    max-width: 800px;
    padding: 20px;
  }




  .add-payment-btn {
    width: auto;
    margin-bottom: 0;
  }

  .add-payment-btn .btn {
    width: auto;
  }

  .td-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }
}