<mat-dialog-content>
  <div>
    <h3 mat-dialog-title class="p-0">{{ title }}</h3>
    <button
      title="close dialog"
      type="button"
      (click)="closeDialog()"
      class="btn-close"
    ></button>
  </div>

  <div>
    <p>¿Está seguro?</p>
  </div>

  <div>
    <mat-dialog-actions>
      <button mat-button type="button" (click)="onSubmit()">Confirmar</button>
      <button mat-button type="button" (click)="closeDialog()">Cancelar</button>
    </mat-dialog-actions>
  </div>
</mat-dialog-content>
