<div class="dialog-container">
  <div class="dialog-title">
    <h2 mat-dialog-title>
      {{ title }}
    </h2>
    <button
      type="button"
      class="btn-close"
      title="Cerrar ventana"
      (click)="closeDialog('none')"
    ></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="common-dialog">
      <div class="client-info">
        <p class="text-center">
          <strong>Cliente:</strong>
          {{ membership.client.firstName + ' ' + membership.client.lastName }}
        </p>
        <p class="text-center">
          <strong>Tipo de Membresía:</strong> {{ membership.type.name }}
        </p>
      </div>

      <mat-form-field>
        <mat-label for="amount">Monto</mat-label>
        <input
          type="number"
          formControlName="amount"
          id="amount"
          step="0.01"
          matInput
        />

        @if (amount?.hasError('min')) {
        <mat-error>El valor mínimo es 0,01</mat-error>
        } @else if (amount?.hasError('pattern')) {
        <mat-error>Solo se permiten 2 decimales.</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label for="paymentMethod">Método de pago</mat-label>
        <mat-select formControlName="paymentMethod" id="paymentMethod">
          @for (p of paymentMethods; track p) {
          <mat-option value="{{ p }}">{{ p }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="common-dialog">
      <button
        mat-button
        type="submit"
        class="btn btn-primary btn-success"
        [disabled]="!form.valid"
      >
        Guardar
      </button>
      <button
        mat-button
        type="button"
        class="btn-secondary"
        (click)="closeDialog('none')"
      >
        Cancelar
      </button>
    </mat-dialog-actions>
  </form>
</div>
