<div class="list-container exercise-list-container">
  <div class="title-div">
    <h2 class="crud-page-title">Ejercicios</h2>

    <div class="my-4 text-end">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="addExercise()"
      >
        Nuevo ejercicio
      </button>
    </div>
  </div>
  <div class="filter-container">
    <label for="nameFilter">Filtrar por nombre:</label>
    <input type="text" id="nameFilter" [(ngModel)]="nameFilter" (ngModelChange)="applyFilter()"
      placeholder="Buscar ejercicio...">
  
    <label for="descriptionFilter">Filtrar por descripción:</label>
    <input type="text" id="descriptionFilter" [(ngModel)]="descriptionFilter" (ngModelChange)="applyFilter()"
      placeholder="Buscar en descripción...">

  
    <button class="btn" (click)="clearFilters()">Limpiar filtros</button>
  </div>

  @if (exercises !== null && exercises.length > 0) {
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Video</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        @for (e of filteredExercises; track e) {
        <tr>
          <td>{{ e.name }}</td>
          <td>{{ e.description }}</td>
          <td>
            @if (e.urlVideo !== ""){
            <a href="{{ e.urlVideo }}" target="_blank">Enlace al video</a>
            } @else {
            <p class="no-video">Sin video</p>
            }
          </td>
          <td class="td-actions">
            <button
              (click)="deleteExercise(e.id)"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              (click)="updateExercise(e)"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else if (exercises !== null && exercises.length === 0){
  <div class="alert alert-warning fs-6" role="alert">
    No hay ejercicios cargados. Crea uno para comenzar.
  </div>
  } @else {
  <div class="alert alert-danger fs-6" role="alert">
    No se pudieron cargar los ejercicios.
  </div>
  }
</div>
