<div class="list-container membership-types-list-container">
  <div class="title-div">
    <h2 class="crud-page-title">Tipos de membresías</h2>
    <div class="my-4 text-end">
      <button type="button" class="btn btn-primary btn-lg" (click)="addMembershipType()">
        Nuevo tipo de membresía
      </button>
    </div>
  </div>

  @if (membershipTypes !== null && membershipTypes.length > 0) {
  <div class="filter-container">
    <label for="nameFilter">Filtrar por nombre:</label>
    <input type="text" id="nameFilter" [(ngModel)]="nameFilter" (ngModelChange)="applyFilter()"
      placeholder="Buscar por nombre...">


    <button class="btn" (click)="clearFilters()">Limpiar filtros</button>
  </div>
  }

@if (membershipTypes !== null && filteredMembershipTypes && filteredMembershipTypes.length > 0) {
<div class="table-container">
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        @for (mt of filteredMembershipTypes; track mt) {
        <tr>
          <td data-label="Nombre">{{ mt.name }}</td>
          <td data-label="Descripción">{{ mt.description }}</td>
          <td data-label="Precio">${{ mt.price.toLocaleString("es-ES") }}</td>
          <td class="td-actions" data-label="Acciones">
            <button (click)="deleteMembershipType(mt.id)" aria-label="Eliminar tipo de membresía" class="action-btn">
              <mat-icon>delete</mat-icon>
            </button>
            <button (click)="updateMembershipType(mt)" aria-label="Editar tipo de membresía" class="action-btn">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
} @else if (membershipTypes !== null && membershipTypes.length === 0) {
<div class="alert alert-warning fs-6" role="alert">
  No hay tipos de membresía cargados. Crea uno para comenzar.
</div>
} @else if (membershipTypes !== null && filteredMembershipTypes?.length === 0) {
<div class="alert alert-warning fs-6" role="alert">
  Ningún tipo de membresía coincide con los filtros.
</div>
} @else {
<div class="alert alert-danger fs-6" role="alert">
  No se pudieron cargar los tipos de membresía.
</div>
}