#rightImage,
#signup {
  transform: translateX(-100%);
  /* Empieza desde fuera del contenedor */
  transition: transform 0.5s ease-in-out;
}

#leftImage {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

#login {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

#rightImage.active,
#login.active,
#signup.active {
  transform: translateX(0);
  /* Mueve el elemento al interior del contenedor */
}

#leftImage.active {
  transform: translateX(100%);
}

#rightImage,
#leftImage {
  min-height: 500px;
  max-height: 80vh;
  width: auto !important;
}

.col-0 {
  width: 0;
  height: 0;
  visibility: hidden;
}

h3.home-section-header {
  color: #f7bc27;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding: 2rem;
}

.areas-section,
.estructura-section {
  background-color: #f1f1f1;
  text-align: center;
}

.areas-section > div,
.estructura-section > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.areas-section div div,
.estructura-section div div {
  flex-grow: 1;
  max-width: 300px;
}

.areas-section div div img,
.estructura-section div div img {
  width: 150px;
}

.areas-section div div p,
.estructura-section div div p {
  color: #5a5a5a;
  font-weight: bold;
  color: var(--mdb-gray-900);
  font-size: 1.2rem;
}

.hero {
  position: relative;
  background-image: url('../../../assets/pexels-leonardho-1552242.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.hero h1 {
  position: absolute;
  top: 30%;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

h1 {
  margin-left: 2rem;
  line-height: 1.5;
}

.divided-panel {
  height: 500px;
  display: flex;
}

.registrar-rutina {
  background-image: url('../../../assets/pexels-pavel-danilyuk-6339722.jpg');
  background-repeat: no-repeat;
  background-position: 100% 90%;
  background-size: cover;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inscripcion-clase {
  background-image: url('../../../assets/pexels-olly-868483.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 65%;
}

.inscripcion-clase-content,
.registrar-rutina-content {
  text-align: center;
}

.inscripcion-clase-content p,
.registrar-rutina-content p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 1px 1px 1px black;
}

.primary-button {
  border: none;
  transition: all 0.3s ease-in-out;
  background-color: #f7bc27;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  -webkit-box-shadow: 21px 18px 9px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 21px 18px 9px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 21px 18px 9px -11px rgba(0, 0, 0, 0.75);
}

.primary-button:hover {
  background-color: #e1a40b;
}

.error-container {
  height: 30px;
  font-size: 0.875rem;
}

.error-message {
  color: #dc3545;
  font-weight: 500;
  padding: 5px 0;
}

.form-control {
  background-color: #eaeaea;
}
