<section class="text-center text-lg-start">
  <div class="container py-4">
    <div class="row g-0 align-items-center justify-content-center">
      <!--Imagen izquierda-->
      <div
        [ngClass]="
          isLoginVisible ? 'col-0' : 'd-none d-lg-block col-lg-4 mb-3 mb-lg-0'
        "
        style="position: relative; overflow: hidden"
      >
        <div
          class="d-flex justify-content-center align-items-center"
          style="height: 100%"
        >
          <img
            src="assets/register-image.jpg"
            class="w-100 rounded-4 shadow-4"
            alt="Mujer entrenando sus brazos."
            [ngClass]="isLoginVisible ? 'active' : ''"
            id="leftImage"
          />
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card bg-body-tertiary" style="backdrop-filter: blur(30px)">
          <!--Formulario login-->
          <div
            id="login"
            [ngClass]="{ 'col-0': !isLoginVisible, active: isLoginVisible }"
            [style.padding]="isLoginVisible ? '' : '0 !important'"
            class="card-body p-5 shadow-5 text-center"
          >
            <h2 class="fw-bold mb-5">Ingresar</h2>

            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  formControlName="email"
                  type="email"
                  id="loginEmail"
                  class="form-control"
                  name="email"
                  [ngClass]="
                    errorCode === 401
                      ? 'is-invalid text-danger border-danger border'
                      : ''
                  "
                />
                <label
                  class="form-label"
                  for="loginEmail"
                  [style.opacity]="showLabel(loginEmail)"
                  >Correo electrónico</label
                >

                @if (loginEmail?.invalid && loginEmail?.touched) {
                <div class="error-container">
                  @if (loginEmail?.errors?.['required']){
                  <div class="error-message">
                    Ingrese su correo electrónico.
                  </div>

                  } @else if (loginEmail?.errors?.['email']){
                  <div class="error-message">
                    El correo electrónico no tiene un formato válido.
                  </div>
                  }
                </div>
                }
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  formControlName="password"
                  type="password"
                  id="loginPassword"
                  class="form-control"
                  name="password"
                  [ngClass]="
                    errorCode === 401
                      ? 'is-invalid text-danger border-danger border'
                      : ''
                  "
                />
                <label
                  class="form-label"
                  for="loginPassword"
                  [style.opacity]="showLabel(loginPassword)"
                  >Contraseña</label
                >
                @if (loginPassword?.invalid && loginPassword?.touched) {

                <div class="error-container">
                  @if (loginPassword?.errors?.['required']){
                  <div class="error-message">Ingrese su contraseña.</div>

                  } @else if (loginPassword?.errors?.['minlength']){
                  <div class="error-message">
                    Su contraseña debe tener al menos 4 caracteres.
                  </div>

                  }
                </div>
                }
              </div>

              <button
                [disabled]="!loginForm.valid"
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-block mb-4 d-flex flex-column align-items-center"
                id="login-button"
              >
                Aceptar
                <mat-progress-spinner
                  color="accent"
                  [mode]="'indeterminate'"
                  [value]="'50'"
                  diameter="20"
                  [ngClass]="isSpinnerVisible ? 'd-block' : 'd-none'"
                ></mat-progress-spinner>
              </button>
            </form>

            <a (click)="toggleView()" href="#"
              ><p>Todavía no eres un miembro? Regístrate ahora!</p></a
            >
          </div>

          <!--Formulario signup-->
          <div
            id="signup"
            [ngClass]="{ 'col-0': isLoginVisible, active: !isLoginVisible }"
            [style.padding]="!isLoginVisible ? '' : '0 !important'"
            class="card-body p-5 shadow-5 text-center"
          >
            <h2 class="fw-bold mb-5">Regístrate ahora!</h2>

            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      formControlName="firstName"
                      type="text"
                      id="signupName"
                      class="form-control"
                      name="firstName"
                    />
                    <label
                      class="form-label"
                      for="signupFirstName"
                      [style.opacity]="showLabel(registerFirstName)"
                      >Nombre</label
                    >

                    @if (registerFirstName?.invalid &&
                    registerFirstName?.touched) {
                    <div class="error-container">
                      @if (registerFirstName?.errors?.['required']){
                      <div class="error-message">Ingrese su nombre.</div>

                      } @else if (registerFirstName?.errors?.['trimError']){
                      <div class="error-message">Ingrese su nombre.</div>
                      }
                    </div>
                    }
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      formControlName="lastName"
                      type="text"
                      id="signupLastName"
                      class="form-control"
                      name="lastName"
                    />
                    <label
                      class="form-label"
                      for="signupLastName"
                      [style.opacity]="showLabel(registerLastName)"
                      >Apellido</label
                    >
                    @if (registerLastName?.invalid && registerLastName?.touched)
                    {

                    <div class="error-container">
                      @if (registerLastName?.errors?.['required']){
                      <div class="error-message">Ingrese su apellido.</div>

                      } @else if (registerLastName?.errors?.['trimError']){
                      <div class="error-message">Ingrese su apellido.</div>
                      }
                    </div>

                    }
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      formControlName="email"
                      type="email"
                      id="signupEmail"
                      class="form-control"
                      name="email"
                    />
                    <label
                      class="form-label"
                      for="signupEmail"
                      [style.opacity]="showLabel(registerEmail)"
                      >Correo electrónico</label
                    >
                    @if (registerEmail?.invalid && registerEmail?.touched) {
                    <div class="error-container">
                      @if (registerEmail?.errors?.['required']){
                      <div class="error-message">
                        Ingrese su correo electrónico.
                      </div>
                      } @else if (registerEmail?.errors?.['email']){
                      <div class="error-message">
                        El correo electrónico no tiene un formato válido.
                      </div>
                      }
                    </div>
                    }
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      formControlName="dni"
                      type="number"
                      id="signupdni"
                      class="form-control"
                      name="dni"
                      [ngClass]="{
                        'is-invalid':
                          registerForm.get('dni')?.invalid &&
                          registerForm.get('dni')?.touched
                      }"
                    />
                    <label
                      class="form-label"
                      for="signupdni"
                      [style.opacity]="showLabel(registerDni)"
                      >DNI</label
                    >

                    @if (registerDni?.invalid && registerDni?.touched) {
                    <div class="error-container">
                      @if (registerDni?.errors?.['required']){
                      <div class="error-message">Ingrese su DNI.</div>
                      } @else if (registerDni?.errors?.['pattern']){
                      <div class="error-message">
                        Su DNI debe tener 7 u 8 números.
                      </div>
                      }
                    </div>
                    }
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      formControlName="password"
                      type="password"
                      id="signupPassword"
                      class="form-control"
                      name="password"
                      required
                    />
                    <label
                      class="form-label"
                      for="signupPassword"
                      [style.opacity]="showLabel(registerPassword)"
                      >Contraseña</label
                    >

                    @if (registerPassword?.invalid && registerPassword?.touched)
                    {
                    <div class="error-container">
                      @if (registerPassword?.hasError('required')){
                      <div class="error-message">Ingrese su contraseña.</div>

                      } @else if (registerPassword?.hasError('trimError')){
                      <div class="error-message">
                        Ingrese una contraseña válida.
                      </div>

                      } @else if (registerPassword?.hasError('minlength')){
                      <div class="error-message">
                        Su contraseña debe tener al menos 4 caracteres.
                      </div>

                      } @else if
                      (registerPassword?.hasError('passwordsDoNotMatch')) {
                      <div class="error-message">
                        Las contraseñas no coinciden.
                      </div>
                      }
                    </div>
                    }
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      formControlName="confirmPassword"
                      type="password"
                      id="signupConfirmPassword"
                      class="form-control"
                      name="confirm-password"
                      required
                    />
                    <label
                      class="form-label"
                      for="signupConfirmPassword"
                      [style.opacity]="showLabel(registerConfirmPassword)"
                      >Contraseña</label
                    >

                    @if (registerConfirmPassword?.invalid &&
                    registerConfirmPassword?.touched) {
                    <div class="error-container">
                      @if (registerConfirmPassword?.hasError('required')){
                      <div class="error-message">Repita su contraseña.</div>

                      } @else if
                      (registerConfirmPassword?.hasError('trimError')){
                      <div class="error-message">
                        Ingrese una contraseña válida.
                      </div>

                      } @else if
                      (registerConfirmPassword?.hasError('minlength')){
                      <div class="error-message">
                        Su contraseña debe tener al menos 4 caracteres.
                      </div>

                      } @else if
                      (registerConfirmPassword?.hasError('passwordsDoNotMatch'))
                      {
                      <div class="error-message">
                        Las contraseñas no coinciden.
                      </div>
                      }
                    </div>
                    }
                  </div>
                </div>
              </div>

              <button
                [disabled]="!registerForm.valid"
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-block mb-4"
              >
                Registrarme
              </button>
            </form>

            <a (click)="toggleView()" href="#"
              ><p>Posees una cuenta? Ingresa aquí!</p></a
            >
          </div>
          <!--Fin formulario signup-->
        </div>
      </div>

      <!--Imagen derecha-->
      <div
        [ngClass]="
          isLoginVisible ? 'd-none d-lg-block col-lg-4 mb-3 mb-lg-0' : 'col-0'
        "
        style="position: relative; overflow: hidden"
      >
        <div
          class="d-flex justify-content-center align-items-center"
          style="height: 100%"
        >
          <img
            style="min-height: 500px; max-height: 80vh; width: auto !important"
            src="assets/login-image.jpg"
            class="w-100 rounded-4 shadow-4"
            alt="Hombre entrenando sus brazos."
            [ngClass]="isLoginVisible ? 'active' : ''"
            id="rightImage"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="hero">
  <h1>COMIENZA HOY A CAMBIAR TU VIDA Y TU CUERPO.</h1>
</div>

<section class="areas-section p-5 my-5">
  <h3 class="home-section-header">Áreas</h3>
  <div>
    <div class="d-flex flex-column align-items-center">
      <img src="./assets/weight-gym-svgrepo-com.svg" alt="" />
      <p class="my-3">Sector peso libre</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <img src="./assets/cardiogram-heart-svgrepo-com.svg" alt="" />
      <p class="my-3">Sector Crossfit</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <img src="./assets/measuring-tape-svgrepo-com.svg" alt="" />
      <p class="my-3">Objetivos y progresos</p>
    </div>
  </div>
</section>

<section class="estructura-section py-5 mb-5">
  <h3 class="home-section-header">Estructura</h3>
  <div>
    <div class="d-flex flex-column align-items-center">
      <img src="./assets/shower-svgrepo-com.svg" alt="" />
      <p class="my-3">Duchas</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <img src="./assets/locker-svgrepo-com.svg" alt="" />
      <p class="my-3">Lockers</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <img src="./assets/music-player-svgrepo-com.svg" alt="" />
      <p class="my-3">Musicalización</p>
    </div>
  </div>
</section>

<section class="divided-panel flex-column flex-lg-row">
  <div class="inscripcion-clase">
    <div class="inscripcion-clase-content">
      <p>Explora tipos de clase y elije la que más te guste</p>
      <div>
        <button type="button" class="primary-button" (click)="scrollTop()">
          Inscribirse
        </button>
      </div>
    </div>
  </div>
  <div class="registrar-rutina">
    <div class="registrar-rutina-content">
      <p>Lleva un seguimiento de tus actividades realizadas</p>
      <div>
        <button type="button" class="primary-button" (click)="scrollTop()">
          Registrar
        </button>
      </div>
    </div>
  </div>
</section>
