<!-- <mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container> -->

<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div>
  <nav>
  <a routerLink="">Inicio</a>
  <a routerLink="clients">Clientes</a>
  <a routerLink="trainers">Entrenadores</a>
  <a routerLink="membershiptypes">Tipos de Membresías</a>
  <a routerLink="currentmemberships">Membresías</a>
  <a routerLink="registration">Registrarse a una clase</a>
  </nav>
</div>

<main class="main">
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
