<div class="exercise-dialog-container">
  <h2 mat-dialog-title>{{ this.data.title }}</h2>
  <form action="" [formGroup]="membershipTypeForm">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
          title="nombre"
          placeholder="Ej: Premium 2024"
          formControlName="name"
          matInput
          type="text"
        />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Descripción:</mat-label>
        <textarea
          title="descripcion del tipo de membresía"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          formControlName="description"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
        ></textarea>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Precio:</mat-label>
        <input
          title="precio"
          placeholder="ej: 1220"
          formControlName="price"
          matInput
          type="number"
        />
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
        type="submit"
        mat-button
        [disabled]="!membershipTypeForm.valid"
        (click)="onSubmit()"
      >
        Ok
      </button>
      <button type="submit" mat-button (click)="onNoClick()">Cancelar</button>
    </mat-dialog-actions>
  </form>
</div>
>
