<div class="list-container">
  <div class="title-div">
    <h2 class="crud-page-title">Progresos</h2>
    <div class="my-4 text-end">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="addProgress()"
      >
        Nuevo Progreso
      </button>
    </div>
  </div>

  @if (progresses !== null && progresses.length > 0) {
  <h3>Administra tus progresos</h3>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Peso</th>
        <th>Porcentaje graso</th>
        <th>Medidas corporales</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      @for (p of progresses; track p) {
      <tr>
        <td>{{ p.date | date : 'dd/MM/yyyy' }}</td>
        <td>{{ p.weight }} kg</td>
        <td>{{ p.fatPercentage }}%</td>
        <td>{{ p.bodyMeasurements }}</td>
        <td class="td-actions">
          <button
            (click)="deleteProgress(p.id)"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            (click)="updateProgress(p)"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <app-progress-chart [progresses]="this.progresses"></app-progress-chart>
  } @else if (progresses !== null && progresses.length === 0) {
  <div class="alert alert-warning fs-6" role="alert">
    No hay progresos cargados. Crea uno para comenzar.
  </div>
  } @else {
  <div class="alert alert-danger fs-6" role="alert">
    No se pudieron cargar las metas.
  </div>
  }
</div>
