.memberships-list-container {
  width: 70%;
  margin: 0 auto 20px;
}

table {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-row: auto;
}

thead {
  background-color: rgba(181, 255, 160, 0.689);
}

td,
th {
  border: 1px solid #ddd;
  padding: 10px;
}

button {
  margin-top: 20px;
  border-radius: 5px;
  background-color: lightgreen;
  border-color: green;
}