<div class="memberships-list-container">

  @if (memberships.length > 0) {
  <table>
    <thead>
      <tr>
        <th>Fecha desde</th>
        <th>Fecha hasta</th>
        <th>Tipo de membresía</th>
        <th>Cliente</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @for (m of memberships; track m) {
      <tr>
        <td>{{ m.dateFrom | date:'dd/MM/yyyy - HH:mm' }}</td>
        <td>{{ m.dateTo | date:'dd/MM/yyyy - HH:mm' }}</td>
        <td>{{ m.type.name }}</td>
        <td>{{ m.client.firstName + ' ' + m.client.lastName }}</td>
        <td>
          <button type="button">Modificar</button>
        </td>
        <td>
          <button type="button">X</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <p>No se pudieron cargar los tipos de membresias</p>
  }

</div>

<button (click)="addMembership()">Nueva membresía</button>