<div class="dialog-container">
  <div class="dialog-title">
    <h2 mat-dialog-title>
      {{ this.data.title }}
    </h2>
    <button
      type="button"
      class="btn-close"
      title="Cerrar ventana"
      (click)="onNoClick()"
    ></button>
  </div>

  <form action="" [formGroup]="exerciseForm">
    <mat-dialog-content class="common-dialog">
      <mat-form-field>
        <mat-label>Ejercicio</mat-label>
        <input
          title="ejercicio"
          placeholder="ej: dominadas"
          formControlName="name"
          matInput
          type="text"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea
          title="exercise description"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          formControlName="description"
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"
        ></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Url del video</mat-label>
        <input
          title="url"
          placeholder="ej: http://youtube.com"
          formControlName="urlVideo"
          matInput
          type="text"
        />
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="common-dialog">
      <button
        mat-button
        type="submit"
        class="btn btn-success"
        [disabled]="!exerciseForm.valid"
        (click)="onSubmit()"
      >
        Guardar
      </button>
      <button
        mat-button
        type="button"
        class="btn-secondary"
        (click)="onNoClick()"
      >
        Cancelar
      </button>
    </mat-dialog-actions>
  </form>
</div>
