<div class="section-container">
  <section class="p-5">
    <h2 class="page-title">Restablecer contraseña</h2>
    @if(this.tokenValidationError){
    <div class="alert alert-warning border border-warning" role="alert">
      <p class="fw-bold fs-6">Token expirado o incorrecto.</p>
      <p>
        Revisa la URL ingresada o comienza nuevamente el proceso desde la
        sección "Mi Perfil".
      </p>
    </div>
    } @else {
    <p class="fs-6">Ingresa tu nueva contraseña</p>
    <div class="col-12 col-md-6 pb-4">
      <form [formGroup]="resetPasswordForm" action="" class="my-4">
        <div class="d-flex flex-column mb-3">
          <label for="new-password" class="fw-bold fs-6"
            >Nueva contraseña: <span class="text-danger">*</span></label
          >
          <input
            type="password"
            id="new-password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <div class="d-flex flex-column mb-3">
          <label for="confirm-new-password" class="fw-bold fs-6"
            >Repetir nueva contraseña: <span class="text-danger">*</span></label
          >
          <input
            type="password"
            id="confirm-new-password"
            class="form-control"
            formControlName="confirmPassword"
          />
        </div>
        <div class="text-end">
          <button
            type="submit"
            class="btn btn-primary btn-success col-12 col-md-auto"
            (click)="checkForm()"
          >
            GUARDAR
          </button>
        </div>
      </form>
      @if (this.formError) {
      <div class="alert alert-danger border border-danger" role="alert">
        Las contraseñas deben coincidir!
      </div>
      }
    </div>
    }
  </section>
</div>
