<div class="mx-auto w-85 py-3">
  <h2 class="page-title">Registrar Entrenamiento</h2>
  <div class="client-container">
    <!-- Información de la rutina -->
    @if (this.routine) {
    <div class="routine-info">
      <table class="routine-table">
        <tr>
          <td><strong>Fecha Desde:</strong> {{ startDate }}</td>
          <td><strong>Fecha Hasta:</strong> {{ endDate }}</td>
          <td>
            <button class="full-width-button" (click)="previousDay()">←</button>
          </td>
          <td><strong>Semana:</strong> {{ selectedWeek }}</td>
          <td><strong>Día:</strong> {{ selectedDay }}</td>
          <td>
            <button class="full-width-button" (click)="nextDay()">→</button>
          </td>
          <div></div>
        </tr>
      </table>
    </div>

    <div>
      <table class="exercises-table">
        <thead>
          <tr>
            <th>Ejercicio</th>
            <th>Series</th>
            <th>Repeticiones</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (exerciseRoutine of exercisesRoutine; track
          exerciseRoutine.exercise?.id) { @if ( exerciseRoutine.day ===
          selectedDay && exerciseRoutine.week === selectedWeek) {

          <tr>
            <td>{{ exerciseRoutine.exercise.name }}</td>
            <td>{{ exerciseRoutine.series }}</td>
            <td>{{ exerciseRoutine.repetitions }}</td>
            <td>{{ getExerciseStatus(exerciseRoutine) }}</td>

            <td
              style="
                display: flex;
                justify-content: center;
                gap: 1rem;
                flex-wrap: wrap;
              "
            >
              @if (exerciseRoutine.weight === null) {
              <button
                class="btn btn-success"
                (click)="openModal(exerciseRoutine)"
              >
                Marcar realizado
              </button>

              } @else {
              <button
                class="btn btn-secondary"
                (click)="openModal(exerciseRoutine)"
              >
                Editar estado
              </button>
              }

              <button
                class="btn btn-primary"
                [ngStyle]="{
                  opacity: exerciseRoutine.exercise.urlVideo ? 1 : 0
                }"
              >
                <a
                  target="_blank"
                  class="text-white"
                  href="{{ exerciseRoutine.exercise.urlVideo }}"
                >
                  Ver Video</a
                >
              </button>
            </td>
          </tr>
          }}
        </tbody>
      </table>
    </div>

    }@else {
    <p class="alert">
      No tienes una rutina. Comunícate con uno de nuestros entrenadores.
    </p>
    }

    <!-- Modal para cargar peso -->
    @if (this.showModal && selectedExerciseRoutine) {
    <app-dialog-add-weight
      [exerciseRoutine]="selectedExerciseRoutine"
      (closeModal)="closeModal()"
      (saveWeight)="saveWeight($event)"
    ></app-dialog-add-weight>
    }
  </div>
</div>
