<div class ="mx-auto w-85 py-3">
<h2 class="page-title">Registrar entrenamiento:</h2>
<div class="daily-routine-container">
  <!-- Información de la rutina -->
  @if (this.routine) {
  <div class="routine-info">
    <table class="routine-table">
      <tr>
        <td><strong>Fecha Desde:</strong> {{ startDate }}</td>
        <td><strong>Fecha Hasta:</strong> {{ endDate }}</td>
        <td><strong>Semana Actual:</strong> {{ currentWeek }}</td>
        <td><strong>Día Actual:</strong> {{ currentDayName }} {{currentDayNumber}} de {{currentNameOfTheMonth}} - {{currentDate.getFullYear()}}</td>
      </tr>
    </table>
  </div>
  }
@else {
<div class="routine-info">
  <table class="routine-table">
    <tr>
      <td><strong>Día Actual:</strong> {{ currentDayName }} {{currentDayNumber}} de {{currentNameOfTheMonth}} -  {{currentDate.getFullYear()}} </td>
    </tr>
  </table>
  <p class="alert"> No tiene ninguna rutina registrada para el día de la fecha</p>
</div>
}
  <!-- Tabla de ejercicios -->
  @if (this.exercisesRoutine.length > 0) {
  <table class="exercises-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Series</th>
        <th>Repeticiones</th>
        <th>Peso</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      @for (exerciseRoutine of exercisesRoutine; track exerciseRoutine.exercise?.id) {
        @if (exerciseRoutine.day && exerciseRoutine.day === dayToday && exerciseRoutine.week && exerciseRoutine.week.toString() === currentWeek)  {
          
      <tr>
        <td>{{ exerciseRoutine.exercise?.name || 'No Disponible' }}</td>
        <td>{{ exerciseRoutine.series || 'N/A' }}</td>
        <td>{{ exerciseRoutine.repetitions || 'N/A' }}</td>
        <td>{{ exerciseRoutine.weight || 'No registrado' }} kg</td>
        @if (!exerciseRoutine.weight) {
        <td>
          <button (click)="openModal(exerciseRoutine)">Registrar Peso</button>
        </td>
        } @else {
        <td>
          <button (click)="openModal(exerciseRoutine)">Editar Peso</button>
        </td>
        }
        
      </tr>
      }
    }
  
    
    </tbody>
  </table>
  }

  <!-- Modal para cargar peso -->
  @if (this.showModal && selectedExerciseRoutine) {
  <app-dialog-add-weight [exerciseRoutine]="selectedExerciseRoutine" (closeModal)="closeModal()"
    (saveWeight)="saveWeight($event)"></app-dialog-add-weight>
  }
</div>

</div>