<div class="mx-auto w-85 py-3">
  <h2 class="page-title">Registrar Entrenamiento</h2>
  <div class="client-container">
    <!-- Información de la rutina -->
    @if (this.routine) {
    <div class="routine-info">
      <table class="routine-table">
        <tr>
          <td><strong>Fecha Desde:</strong> {{ startDate }}</td>
          <td><strong>Fecha Hasta:</strong> {{ endDate }}</td>
          <td>
            <button
              class="full-width-button"
              (click)="previousDay()"
              [disabled]="selectedDay === 1 && selectedWeek === 1"
            >
              ←
            </button>
          </td>
          <td><strong>Semana:</strong> {{ selectedWeek }}</td>
          <td><strong>Día:</strong> {{ selectedDay }}</td>
          <td>
            <button
              class="full-width-button"
              (click)="nextDay()"
              [disabled]="
                selectedWeek === maxWeek && selectedDay === maxWeekDaysCount
              "
            >
              →
            </button>
          </td>
          <div></div>
        </tr>
      </table>
    </div>

    <div>
      <table class="exercises-table">
        <thead>
          <tr>
            <th>Ejercicio</th>
            <th>Series</th>
            <th>Repeticiones</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (exerciseRoutine of exercisesRoutine; track
          exerciseRoutine.exercise?.id) { @if ( exerciseRoutine.day ===
          selectedDay && exerciseRoutine.week === selectedWeek) {

          <tr>
            <td data-label="Ejercicio">{{ exerciseRoutine.exercise.name }}</td>
            <td data-label="Series">{{ exerciseRoutine.series }}</td>
            <td data-label="Repeticiones">{{ exerciseRoutine.repetitions }}</td>
            <td
              data-label="Estado"
              [ngStyle]="{
                border:
                  getExerciseStatus(exerciseRoutine) === 'No realizado'
                    ? '2px solid'
                    : 'none'
              }"
            >
              {{ getExerciseStatus(exerciseRoutine) }}
            </td>

            <td>
              <button
                class="btn btn-secondary"
                [ngStyle]="{
                  opacity: exerciseRoutine.exercise.urlVideo ? 1 : 0
                }"
              >
                <a
                  target="_blank"
                  style="color: #285192"
                  href="{{ exerciseRoutine.exercise.urlVideo }}"
                >
                  Ver Video</a
                >
              </button>
              @if (exerciseRoutine.weight === null) {
              <button
                class="btn btn-success"
                (click)="openModal(exerciseRoutine)"
              >
                Marcar realizado
              </button>

              } @else {
              <button
                class="btn btn-secondary"
                (click)="openModal(exerciseRoutine)"
              >
                Editar estado
              </button>
              }
            </td>
          </tr>
          }}
        </tbody>
      </table>
    </div>

    }@else {
    <p class="alert">
      No tienes una rutina. Comunícate con uno de nuestros entrenadores.
    </p>
    }

    <!-- Modal para cargar peso -->
    @if (this.showModal && selectedExerciseRoutine) {
    <app-dialog-add-weight
      [exerciseRoutine]="selectedExerciseRoutine"
      (closeModal)="closeModal()"
      (saveWeight)="saveWeight($event)"
    ></app-dialog-add-weight>
    }
  </div>
</div>
