<div class="membership-types-list-container">
  @if (membershipTypes.length > 0) {
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Membresías vigentes</th>
      </tr>
    </thead>

    <tbody>
      @for (mt of membershipTypes; track mt) {
      <tr>
        <td>{{ mt.name }}</td>
        <td>{{ mt.description }}</td>
        <td>${{ mt.price }}</td>
        <td align="center">
          <button type="button" class="view-memberships-button">Ver</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <p>No se pudieron cargar los tipos de membresias</p>
  }
</div>
