<div class="mx-auto w-75 my-5">
  <p class="display-5">Click a client to assign a routine</p>
</div>
<app-clients-membership-list
  [clientList]="clientsWithmembership"
  (clientChange)="setSelectedClient($event)"
></app-clients-membership-list>

<div class="form-container">
  <form action="" [formGroup]="routineForm" (ngSubmit)="onSubmit()">
    <label class="form-label" for="inputDateFrom">Date from:</label>
    <input
      matInput
      type="date"
      id="inputDateFrom"
      class="form-control"
      formControlName="dateFrom"
      required=""
      (input)="setDateTo()"
    />
    @if (routineForm.controls.dateFrom.invalid) {
    <mat-error>{{ "Selecciona una fecha" }}</mat-error>
    }

    <p class="display-6 my-5" for="">
      <span><strong> Date to:</strong></span>
      {{ this.routineForm.value.dateTo?.toDateString() }}
    </p>

    <div class="d-grid gap-2 col-6 mx-auto my-3">
      <button
        class="btn btn-primary"
        type="button"
        mdbRipple
        (click)="addweek()"
      >
        Add Week
      </button>
    </div>

    <p class="display-5">Weeks:</p>
    <cdk-accordion class="example-accordion">
      @for (item of weeks; track item; let index = $index) {
      <div class="week-container">
        <cdk-accordion-item
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
          >
            {{ item.text }}
            <span class="example-accordion-item-description">
              Click to {{ accordionItem.expanded ? "close" : "open" }}
            </span>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            <!-- ARRAY DE DIAS -->
            @for (day of item.days; track day; let ind = $index) {
            <cdk-accordion class="example-accordion">
              <cdk-accordion-item
                #accordionItem="cdkAccordionItem"
                class="example-accordion-item"
                role="button"
                tabindex="0"
                [attr.id]="'accordion-header-' + ind"
                [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + ind"
              >
                <div
                  class="example-accordion-item-header"
                  (click)="accordionItem.toggle()"
                >
                  {{ "Day " + day.number }}
                  <span class="example-accordion-item-description">
                    Click to {{ accordionItem.expanded ? "close" : "open" }}
                  </span>
                </div>
                <div class="day-container">
                  <div
                    class="example-accordion-item-body"
                    role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-' + ind"
                    [attr.aria-labelledby]="'accordion-header-' + ind"
                  >
                    @for (ex of day.exercisesRoutine; track ex; let ind =
                    $index) {
                    <div>
                      <p>exercise: {{ ex.exercise?.name }}</p>
                      <p>series: {{ ex.series }}</p>
                      <p>reps: {{ ex.reps }}</p>
                      <div class="example-button-container">
                        <button
                          mat-fab
                          aria-label="Example icon button with a delete icon"
                        >
                          <mat-icon (click)="removeExercise(day, ex)"
                            >delete</mat-icon
                          >
                        </button>
                      </div>
                    </div>
                    }@empty {
                    <p>Add an exercise to start!</p>
                    }
                    <button
                      type="button"
                      (click)="addExercise(day)"
                      class="btn btn-primary my-5"
                      data-mdb-ripple-init
                    >
                      Add Exercise
                    </button>
                  </div>
                  @if (day.number == item.days.length) {
                  <button type="button" (click)="removeDay(day)">x</button>
                  }
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
            }

            <div>
              <button
                type="button"
                (click)="addDay(item)"
                class="btn btn-primary my-5"
                data-mdb-ripple-init
                [ngClass]="item.days.length <= 6 ? '' : 'disabled'"
              >
                Add Day
              </button>
            </div>
          </div>
        </cdk-accordion-item>
        @if (item.number == weeks.length) {
        <button type="button" (click)="removeWeek(item)">x</button>
        }
      </div>
      }
    </cdk-accordion>

    <div class="text-end my-5">
      <button
        type="submit"
        [disabled]="!routineForm.valid"
        class="btn btn-success btn-lg"
      >
        Save Routine
      </button>
    </div>
  </form>
</div>
