/* You can add global styles to this file, and also import other style files */

@import "@fortawesome/fontawesome-free/css/all.css";
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

html,
body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-85 {
  width: 85%;
}

/*TABLAS PARA CRUDS*/
.crud-page-title,
.page-title {
  font-size: 2.5rem !important;
  font-weight: bold !important;
  margin: 2rem 0 !important;
}

.list-container {
  width: 80%;
  margin: 0 auto 20px;
}

.list-container .title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-container table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  grid-row: auto;
  width: 100%;
}

.list-container thead {
  background-color: rgba(181, 255, 160, 0.689);
}

.list-container td,
.list-container th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.list-container table button {
  border-radius: 5px;
  background-color: lightgreen;
  border-color: green;
}

.list-container table td button {
  border: none;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.list-container table td button:hover {
  background-color: green;
}

.td-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

/* MatDialog */

.dialog-title {
  position: relative;
  align-items: center;
}

.dialog-title h2,
.dialog-title [mat-dialog-title] {
  padding: 0;
  margin: 0;
  flex: 1;
  text-align: center;
}

.dialog-title .btn-close {
  position: absolute;
  right: 10px;
  top: 22.8px;
}

mat-dialog-content.common-dialog {
  display: flex;
  flex-direction: column;
}

mat-dialog-actions.common-dialog {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 1rem 0;
}

mat-dialog-actions.common-dialog button {
  width: 30%;
  height: 50px;
}

mat-dialog-actions.common-dialog button.btn-secondary {
  box-shadow: 0 4px 9px -4px gray;
}
mat-dialog-actions.common-dialog button.btn-secondary:hover {
  background-color: gray;
}

/* MatSnackBar */

.snackbar_success .mdc-button__label,
.snackbar_error .mdc-button__label {
  color: white;
}

.snackbar_error,
.snackbar_error * {
  background-color: #dc3545 !important;
}

.snackbar_success *,
.snackbar_error * {
  font-size: 1.1rem !important;
}
