/* You can add global styles to this file, and also import other style files */

@import "@fortawesome/fontawesome-free/css/all.css";
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-85 {
  width: 85%;
}

/*TABLAS PARA CRUDS*/
.crud-page-title {
  font-size: 2.5rem !important;
  font-weight: bold !important;
  margin: 2rem 0 !important;
}

.list-container table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  grid-row: auto;
}

.list-container thead {
  background-color: rgba(181, 255, 160, 0.689);
}

.list-container td,
.list-container th {
  border: 1px solid #ddd;
  padding: 10px;
}

.list-container table button {
  border-radius: 5px;
  background-color: lightgreen;
  border-color: green;
}

.list-container table td button {
  border: none;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.list-container table td button:hover {
  background-color: green;
}

.td-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

/*TO DO: INCLUDE SNACK BAR STYLES HERE*/
