/* You can add global styles to this file, and also import other style files */

@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*TABLAS PARA CRUDS*/
.exercises-list-container table,
.memberships-list-container table,
.membership-types-list-container table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-row: auto;
}

.exercises-list-container thead,
.memberships-list-container thead,
.membership-types-list-container thead {
    background-color: rgba(181, 255, 160, 0.689);
}

.exercises-list-container td,
.exercises-list-container th,
.memberships-list-container td,
.memberships-list-container th,
.membership-types-list-container td,
.membership-types-list-container th {
    border: 1px solid #ddd;
    padding: 10px;
}

.exercises-list-container table button,
.memberships-list-container button {
    margin-top: 20px;
    border-radius: 5px;
    background-color: lightgreen;
    border-color: green;
}

.w-85 {
    width: 85%;
}

.exercises-list-container table td button {
    border: none;
    padding: .5rem;
    transition: all .3s ease-in-out;
}

.exercises-list-container table td button:hover {
    background-color: green;
}

/*TO DO: INCLUDE SNACK BAR STYLES HERE*/