
<h2 mat-dialog-title>{{title}}
  <button 
    type="button" 
    (click)="this.dialogRef.close('none')" 
    class="btn-close">
  </button>
</h2>
  
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div>
      <label for="dateFrom">Fecha desde</label>
      <br />
      <input type="datetime-local" formControlName="dateFrom" id="dateFrom">
    </div>

    <br />

    <div>
      <label for="dateTo">Fecha hasta</label>
      <br />
      <input type="datetime-local" formControlName="dateTo" id="dateTo">
    </div>

    <br />

    <div>
      <label for="type">Tipo membresía</label>
      <br />
        <select formControlName="type" id="type">
          <option *ngFor="let t of data.types" [value]="t.id">
            {{ t.name }}
          </option>
        </select>
    </div>

    <br />

    <div>
      <label for="client">Cliente</label>
      <br />
        <select formControlName="client" id="client">
          <option *ngFor="let c of data.clients" [value]="c.id">
            {{ c.firstName}} {{ c.lastName}}
          </option>
        </select>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="submit" mat-button [disabled]="!form.valid">Guardar</button>
  <button mat-button type="submit" (click)="this.dialogRef.close('none')">Cancelar</button>
</mat-dialog-actions>
</form>