<div class="usersListContainer">

@if (users.length > 0) {
  <table>
    <thead>
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Correo electrónico</th>
      </tr>
    </thead>

  @for (user of users; track user.username) {
    <tr>
      <td>{{ user.lastName }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
    </tr>
  }
  </table>
} @else {
  <p>No se pudieron cargar los clientes</p>
}
</div>

<button (click)="openDialog()">Nuevo cliente</button>