<div class="usersListContainer">

@if (clients.length > 0) {
  <table>
    <thead>
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Correo electrónico</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
  @for (c of clients; track c) {
      <tr>
        <td>{{ c.lastName }}</td>
        <td>{{ c.firstName }}</td>
        <td>{{ c.username }}</td>
        <td>{{ c.email }}</td>
        <td>
          <button type="button" (click)="updateUser(c.id)">Modificar</button>
        </td>
        <td>
          <button type="button" (click)="deleteUser(c.id)">Eliminar</button>
        </td>
      </tr>
  }
    </tbody>
  </table>
} @else {
  <p>No se pudieron cargar los clientes</p>
}
</div>

<button (click)="addUser()">Nuevo cliente</button>
