<div class="container">
  <div class="dialog-title">
    <h2 mat-dialog-title>
      {{ title }}
    </h2>
    <button
      type="button"
      class="btn-close"
      title="Cerrar ventana"
      (click)="closeDialog('none')"
    ></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="common-dialog">
      <mat-form-field>
        <mat-label for="firstName">Nombre</mat-label>
        <input
          type="text"
          formControlName="firstName"
          id="firstName"
          matInput
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="lastName">Apellido</mat-label>
        <input type="text" formControlName="lastName" id="lastName" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="dni">DNI</mat-label>
        <input type="number" formControlName="dni" id="dni" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="email">Correo electrónico</mat-label>
        <input type="email" formControlName="email" id="email" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="password">Contraseña</mat-label>
        <input
          type="password"
          formControlName="password"
          id="password"
          matInput
          [placeholder]="userId ? 'Sin modificar' : ''"
        />
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="common-dialog">
      <button
        mat-button
        type="submit"
        class="btn btn-success"
        [disabled]="!form.valid"
      >
        Guardar
      </button>
      <button
        mat-button
        type="button"
        class="btn-secondary"
        (click)="closeDialog('none')"
      >
        Cancelar
      </button>
    </mat-dialog-actions>
  </form>
</div>
